<div class="SecondPage">
    <header>

        <div class="panel">
          
          <div class="panel-last">
           <!-- <img src="../assets/images/logo2.png" alt="logo"> -->
      <h1 style="text-decoration: none; color: #ffffff; font-size: 35px; margin-left:-65%;">GuardianTech</h1>
          </div>
          <div class=" panel-ops">
            
            <a href="#home" style="text-decoration: none; "><p>URL Scan</p></a>
            <a href="#Integration" style="text-decoration: none;"> <p>Ad Scan</p> </a>
    
            <a href="#aboutus" style="text-decoration: none; "><p>CareLink Check</p></a>
            <a href="#Contactus" style="text-decoration: none; "><p>Contact Us</p></a>
    <h1>|</h1>
            <!-- <p class="effectOnHover" class="signIN" style="text-decoration: none; color: green;" ><a routerLink="/candidateDashboard" >Sign Up</a></p> -->
            <p class="effectOnHover" style="color: greenyellow;" ><a routerLink="/candidateDashboard" >Sign In</a></p>
    
            <p class="effectOnHover" style="color: greenyellow;" ><a routerLink="/candidateDashboard" >Login</a></p>
    
    
          </div>
        </div>
      </header>
    <div class="SecondPageContent">
    <h1>LinkGaurd</h1>
    <h4>Your Trusted URL Checker for Enhanced Web Security</h4>

    <div class="SecondPageInput">
   
    <input type="text" class="LinkInput" placeholder="  Enter website or URL here">
    <button class="ScanButton">Scan Link</button>
    <img src="../assets/Images/mickey1.gif" class="SecondImage">
</div>
</div>

   </div>

   <div class="ThirdPage">
    
    <div class="ThirdPageContent">
    <h1>AdShield</h1>
    <h4>Unveiling Truth in Every Pixel for Genuine and Reliable Ad Experiences.</h4>

    <div class="ThirdPageInput">
   
    <input type="text" class="AdInput" placeholder="  Submit or paste the advertisement image.">
    <br>
    <button class="ScanAdButton">Scan AD</button>
    <!-- <img src="../assets/Images/mickey1.gif" class="SecondImage"> -->
</div>
</div>

   </div>
    <div class="SecondPage">
    <header>

        <div class="panel">
          
          <div class="panel-last">
           <!-- <img src="../assets/images/logo2.png" alt="logo"> -->
      <h1 style="text-decoration: none; color: #ffffff; font-size: 35px; margin-left:-65%;">GuardianTech</h1>
          </div>
          <div class=" panel-ops">
            
            <a href="#home" style="text-decoration: none; "><p>URL Scan</p></a>
            <a href="#Integration" style="text-decoration: none;"> <p>Ad Scan</p> </a>
    
            <a href="#aboutus" style="text-decoration: none; "><p>CareLink Check</p></a>
            <a href="#Contactus" style="text-decoration: none; "><p>Contact Us</p></a>
    <h1>|</h1>
            <!-- <p class="effectOnHover" class="signIN" style="text-decoration: none; color: green;" ><a routerLink="/candidateDashboard" >Sign Up</a></p> -->
            <p class="effectOnHover" style="color: greenyellow;" ><a routerLink="/candidateDashboard" >Sign In</a></p>
    
            <p class="effectOnHover" style="color: greenyellow;" ><a routerLink="/candidateDashboard" >Login</a></p>
    
    
          </div>
        </div>
      </header>
    <div class="SecondPageContent">
    <h1>Careline Scan</h1>
    <h4> Ensuring Trust with Verified Customer Care Numbers.</h4>

    <div class="SecondPageInput">
   
    <input type="text" class="LinkInput" placeholder="  Enter Phone Number">
    <button class="ScanButton">Scan Number</button>
    <img src="../assets/Images/mickey1.gif" class="SecondImage">
</div>
</div>

   </div>

  
 