<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<div id="home">

<header>

    <div class="panel">
      
      <div class="panel-last">
       <!-- <img src="../assets/images/logo2.png" alt="logo"> -->
  <h1 style="text-decoration: none; color: #ffffff;">GuardianTech</h1>
      </div>
      <div class=" panel-ops">
        
        <a href="#home" style="text-decoration: none; color: #ffffff;"><p>URL Scan</p></a>
        <a href="#Integration" style="text-decoration: none; color: #ffffff;"> <p>Ad Scan</p> </a>

        <a href="#aboutus" style="text-decoration: none; color: #ffffff;"><p>CareLink Check</p></a>
        <a href="#Contactus" style="text-decoration: none; color: #ffffff;"><p>Contact Us</p></a>
<h1>|</h1>
        <!-- <p class="effectOnHover" class="signIN" style="text-decoration: none; color: green;" ><a routerLink="/candidateDashboard" >Sign Up</a></p> -->
        <p class="effectOnHover" style="color: greenyellow;" ><a routerLink="/candidateDashboard" >Sign In</a></p>

        <p class="effectOnHover" style="color: greenyellow;" ><a routerLink="/candidateDashboard" >Login</a></p>


      </div>
    </div>
  </header>
  <div class="firstSection">
    <div class="headText">
      <!-- <div class="headText1">Don’t wait for opportunity. Create it.</div> -->
      <div class="headText2">GuardianTech: Your Shield</div>
      <div class="headText2">Against Online Fraud</div>

      <!-- <div class="headText3">Unlocking Doors of Opportunity Through Refferals. Ready to level up your career?<br> Sign up now and let's make your job search a success story!"</div> -->
      <div class="buttonss">
        <button class="B"><a  routerLink="/employeelogin" style="text-decoration: none; color: black;">Get Started</a></button>
      </div>
    </div>
  
    <div class="PlaceImage">
      <img class="sideImage" src="assets/images/backgroundImage.jpg" alt="">
    </div>
   <!-- <div class="jobs"><h1>JOBS</h1>
   </div> -->

  
  <!-- </div>
  <div class="secondPart"></div>
</div> -->