<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<div id="home">

<header>

    <div class="panel">
      
      <div class="panel-last">
       <img src="../assets/images/logo2.png" alt="logo">
  
      </div>
      <div class=" panel-ops">
        
        <a href="#home" style="text-decoration: none; color: #072C62;"><p>Home</p></a>
        <a href="#Integration" style="text-decoration: none; color: #072C62;"> <p>Integration</p> </a>

        <a href="#aboutus" style="text-decoration: none; color: #072C62;"><p>AboutUs</p></a>
        <a href="#Contactus" style="text-decoration: none; color: #072C62;"><p>Contact</p></a>
        <h1>|</h1>

        <p class="effectOnHover"  ><a routerLink="/candidateDashboard" >Login</a></p>

        <p class="effectOnHover" ><a routerLink="/candidateDashboard" >Employers Login</a></p>

          <button class="button button2" routerLink="/register">Register</button>

      </div>
    </div>
  </header>
  <div class="firstSection">
    <div class="headText">
      <div class="headText1">Don’t wait for opportunity. Create it.</div>
      <div class="headText2">Bridging Careers</div>
      <div class="headText3">Unlocking Doors of Opportunity Through Refferals. Ready to level up your career?<br> Sign up now and let's make your job search a success story!"</div>
      <div class="buttonss">
        <button class="B"><a  routerLink="/employeelogin" style="text-decoration: none; color: black;">Find Talent</a></button>
      <button class="B"><a  routerLink="/candidatelogin" style="text-decoration:none; color: black;">Apply for Job</a></button>
      </div>
    </div>
  
    <div class="PlaceImage">
      <img class="sideImage" src="../assets/images/sideImage4444.png" alt="">
    </div>
   <!-- <div class="jobs"><h1>JOBS</h1>
   </div> -->
  
  </div>
  <div class="secondPart"></div>
</div>