<div class="firstSection">
    <div class="headText">
      <!-- <div class="headText1">Don’t wait for opportunity. Create it.</div> -->
      <div class="headText2">Contact Us</div>
      <form action="/action_page.php">
        <input type="text" id="email" name="email" placeholder="Enter your Email">
    
        <!-- <input type="text" id="msg" name="lastname" placeholder="Enter your message"> -->
    
        <!-- <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select> -->
    
        <textarea id="subject" name="subject" placeholder="Enter your message" style="height:200px"></textarea>
    
        
        <div class="buttonss">
            <button class="B"><a  routerLink="/employeelogin" style="text-decoration: none; color: black;">Get Started</a></button>
          </div>
      </form>

   

      <!-- <div class="headText3">Unlocking Doors of Opportunity Through Refferals. Ready to level up your career?<br> Sign up now and let's make your job search a success story!"</div> -->
     
    </div>
  
    <!-- <div class="PlaceImage">
      <img class="sideImage" src="assets/images/backgroundImage.jpg" alt="">
      <div class="overLapSideImage"></div>
    </div> -->

   <!-- <div class="jobs"><h1>JOBS</h1>
   </div> -->

  
  </div>